header {
    background-color: #E6E6E6;
    font-size: 2em;
    text-align: center;
    border: 0.2em #ff0000 solid;
}

img {
    width: 15em;
    padding: 1em;
}

li {
    list-style: none;
    text-align: center;
}

.results {
    text-align: center;
    /* border: 1px blue solid; */
}

p {
    overflow: hidden;
}

.box {
    /* border: 1px blue solid; */
    width: 20em;
    height: 25em;
    margin: 1em;
    border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    border: 0px solid #000000;
    -webkit-box-shadow: -8px -2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -8px -2px 5px 0px rgba(0, 0, 0, 0.75);
}

.imagen {
    /* border: 1px blue solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modal-content {
    position: absolute;
    width: 40em;
    height: 30em;
    text-align: center;
  }

  
  
  
  